<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.google.gson.examples.android"
  android:versionCode="1"
  android:versionName="1.0">
  <uses-sdk android:minSdkVersion="3"/>
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".GsonProguardExampleActivity" 
              android:label="@string/app_name" 
              android:exported="true" 
              android:icon="@drawable/icon"
              android:configChanges="keyboardHidden|orientation" 
              android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
